{% extends 'components/front_forms.html' %}
{% block form %}
    {% load static %}
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        .input-container {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }

        .material-icons {
            padding: 10px;
            background: #8feb4d;
            color: white;
            min-width: 50px;
            text-align: center;
        }

        .input-field {
            width: 100%;
            padding: 10px;
            outline: none;
            transition: 0.2s;
        }

        .input-field:focus {
            border: 2.5px solid #8feb4d;
        }

        /* Set a style for the submit button */
        .btn {
            background-color: #83d945;
            color: white;
            padding: 15px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.8;
        }

        .btn:hover {
            opacity: 1;
            background-color: #77c73e;
        }
    </style>
    <script>
        function Validate() {
            let password = document.getElementById("txtPassword").value;
            let confirmPassword = document.getElementById("txtConfirmPassword").value;
            let username = document.getElementById("user").value;
            let re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}$/;

            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            } else if (password == username) {
                alert("Password and Username must be different");
                return false;
            } else if (re.test(password) != true) {
                alert("Password must be minimum 6 characters long and combination of UPPER case, lower case and numbers (e.g. FooBar123)");
                return false;
            }

            return true;
        }

    </script>
    <form action="{% url 'sign-up-handler' %}"
          method="POST"
          style="max-width:500px;margin:auto">
        {% csrf_token %}
        <div class="input-container">
            <i class="material-icons"
               style="font-family: sans-serif">
                <text class="text-icon">
                    <b>A</b>
                </text>
            </i>

            <input class="input-field"
                   type="text"
                   placeholder="First name"
                   name="first_name"
                   required>
        </div>

        <div class="input-container">
            <i class="material-icons"
               style="font-family: sans-serif">
                <text class="text-icon">
                    <b>Z</b>
                </text>
            </i>
            <input class="input-field"
                   type="text"
                   placeholder="Last name"
                   name="last_name"
                   required>
        </div>

        <div class="input-container">
            <i class="material-icons">account_circle</i>
            <input class="input-field"
                   id="user"
                   type="text"
                   placeholder="Username"
                   name="username" required>
        </div>

        <div class="input-container">
            <i class="material-icons">email</i>
            <input class="input-field"
                   type="email"
                   placeholder="Email"
                   name="email"
                   required>
        </div>

        <div class="input-container">
            <i class="material-icons">lock_outline</i>
            <input class="input-field"
                   id="txtPassword"
                   type="password"
                   placeholder="Password"
                   name="password1"
                   required>
        </div>

        <div class="input-container">
            <i class="material-icons">lock</i>
            <input class="input-field"
                   id="txtConfirmPassword"
                   type="password"
                   placeholder="Confirm Password"
                   name="password2"
                   required>
        </div>

        <br>
        <button type="submit" class="btn"
                onclick="return Validate()">
            Sign
            up
        </button>
    </form>
{% endblock %}

<script>
    (function () {
        let script = document.createElement("script");
        script.src = '{% static 'wp-includes/js/jquery/jquery.min.js' %}';
        script.type = 'text/javascript';
        script.onload = function () {
            let $ = window.jQuery;
            $(function () {
                $(document).ready(function () {
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static 'wp-includes/js/jquery/jquery-migrate.min.js' %}'));
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static "wp-content/themes/blossom-coach/js/owlcarousel2-a11ylayer.min.js" %}'));
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static "wp-content/themes/blossom-coach/js/owl.carousel.min.js" %}'));
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static 'wp-content/plugins/elementor/assets/js/frontend.min.js' %}'));
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static "wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js" %}'));
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static "wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js" %}'));
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static "wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js" %}'));
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static "wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js" %}'));
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static "wp-includes/js/jquery/ui/position.min.js" %}'));
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static "wp-includes/js/wp-embed.min.js" %}'));
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static "wp-content/plugins/elementor/assets/js/frontend-modules.min.js" %}'));
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static "wp-content/themes/blossom-coach/js/modal-accessibility.min.js" %}'));
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static "wp-content/themes/blossom-coach/js/custom.min.js" %}'));
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static "wp-includes/js/masonry.min.js" %}'));
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static "wp-includes/js/imagesloaded.min.js" %}'));
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static "wp-content/themes/blossom-coach/js/v4-shims.min.js" %}'));
                    $('head').append($("<script type='text/javascript'/>").attr('src', '{% static "wp-content/themes/blossom-coach/js/all.min.js" %}'));
                    $('head').append($("<link rel='stylesheet' type='text/css'/>").attr('href', '{% static 'wp-includes/css/dist/block-library/style.min.css' %}'));
                    $('head').append($("<link rel='stylesheet' type='text/css'/>").attr('href', '{% static 'wp-content/themes/blossom-coach/css/owl.carousel.min.css' %}'));
                    $('head').append($("<link rel='stylesheet' type='text/css'/>").attr('href', '{% static 'wp-content/themes/blossom-coach/css/animate.min.css' %}'));
                    $('head').append($("<link rel='stylesheet' type='text/css'/>").attr('href', '{% static 'google-font/typeface-nunito-1.1.13/package/index.css' %}'));
                    $('head').append($("<link rel='stylesheet' type='text/css'/>").attr('href', '{% static 'google-font/typeface-nunito-sans-1.1.13/package/index.css' %}'));
                    $('head').append($("<link rel='stylesheet' type='text/css'/>").attr('href', '{% static 'wp-content/themes/blossom-coach/style.css' %}'));
                    $('head').append($("<link rel='stylesheet' type='text/css'/>").attr('href', '{% static 'wp-includes/css/dist/block-library/style.min.css' %}'));
                    $('head').append($("<link rel='stylesheet' type='text/css'/>").attr('href', '{% static 'wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css' %}'));
                    $('head').append($("<link rel='stylesheet' type='text/css'/>").attr('href', '{% static 'wp-content/plugins/elementor/assets/lib/animations/animations.min.css' %}'));
                    $('head').append($("<link rel='stylesheet' type='text/css'/>").attr('href', '{% static 'wp-content/plugins/elementor/assets/css/frontend-legacy.min.css' %}'));
                    $('head').append($("<link rel='stylesheet' type='text/css'/>").attr('href', '{% static 'wp-content/plugins/elementor/assets/css/frontend.min.css' %}'));
                    $('head').append($("<link rel='stylesheet' type='text/css'/>").attr('href', '{% static 'wp-content/uploads/elementor/css/post-17.css' %}'));
                    $('head').append($("<link rel='stylesheet' type='text/css'/>").attr('href', '{% static 'wp-content/uploads/elementor/css/global.css' %}'));
                    $('head').append($("<link rel='stylesheet' type='text/css'/>").attr('href', '{% static 'wp-content/uploads/elementor/css/post-26.css' %}'));
                    $('head').append($("<link rel='stylesheet' type='text/css'/>").attr('href', '{% static 'wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css' %}'));
                    $('head').append($("<link rel='stylesheet' type='text/css'/>").attr('href', '{% static 'material-icons/package/iconfont/material-icons.css' %}'));
                    window.setInterval(function () {
                        $("#site-reload-content").load(" #site-reload-content");
                    }, 1000)
                    window.setTimeout(function () {
                        $(".body-jquery").css({"display": ""});
                        $(".body-jquery").fadeIn(500);
                    }, 10);
                });
            });

        };
        document.getElementsByTagName("head")[0].appendChild(script);
    })();
</script>
<script type='text/javascript' id='blossom-coach-js-extra'>
    /* <![CDATA[ */
    let blossom_coach_data = {"rtl": "", "animation": ""};
    /* ]]> */
</script>