{% extends 'components/front_forms.html' %}
{% load static %}
{% block form %}
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        .input-container {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }

        .material-icons {
            padding: 10px;
            background: #8feb4d;
            color: white;
            min-width: 50px;
            text-align: center;
        }

        .input-field {
            width: 100%;
            padding: 10px;
            outline: none;
            transition: 0.5s;
        }

        .input-field:focus {
            border: 2.5px solid #8feb4d;
        }

        /* Set a style for the submit button */
        .btn {
            background-color: #83d945;
            color: white;
            padding: 15px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.8;
        }

        .btn:hover {
            opacity: 1;
            background-color: #77c73e;
        }
    </style>

    <form action="{% url 'log-in-handle' %}"
          method="POST"
          style="max-width:500px;margin:auto">
        {% csrf_token %}
        <div class="input-container">
            <i class="material-icons">account_circle</i>
            <input class="input-field"
                   type="text"
                   placeholder="Username"
                   name="username">
        </div>

        <div class="input-container">
            <i class="material-icons">lock</i>
            <input class="input-field"
                   type="password"
                   placeholder="Confirm Password"
                   name="password">
        </div>

        <br>
        <button type="submit" class="btn">LOG IN
        </button>
    </form>
{% endblock %}
{% block extra %}
    <section
            class="elementor-section elementor-top-section elementor-element elementor-element-f23f0f2 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="f23f0f2" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fc2e652"
                     data-id="fc2e652" data-element_type="column">
                    <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                            <div class="elementor-element elementor-element-609235f elementor-widget elementor-widget-text-editor"
                                 data-id="609235f" data-element_type="widget"
                                 data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-text-editor elementor-clearfix">
                                        <p>Forgot password? <a
                                                href="/reset-password/"
                                                data-wplink-url-error="true"><u>Click
                                            here</u></a> to reset or <a
                                                href="/sign-up/"
                                                data-wplink-url-error="true"><u>Sign
                                            up</u></a></p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
