.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #191b1f;
    opacity: 1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a:hover {
    color: #fff;
}

.menu-list a:hover {
    background-color: #919191;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main-nav {
    transition: margin-left 0.5s;
    padding: 20px;
    float: left;
}

#main-nav span {
    transition: 0.1s;
}

#main-nav span:hover {
    transition: 0.1s;
    color: #7ac342;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

.page-logo svg {
    transition: 0.2s;
}

.page-logo svg:hover {
    width: 16em;
    transition: 0.2s;
}

.-links- {
    width: 1.5em;
    transition: 0.2s;
}

.-links-:hover {
    transition: 0.2s;
    width: 1.8em;
    opacity: 80%;
}

.menu-list a {
    color: #c8ccc6;
    text-decoration: none;
}

.menu-label {
    color: #b8b8b8;
}

.title {
    font-family: Nunito;
}

.subtitle {
    color: #bbb;
}

.footer {
    background-color: #060606;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #bfbfbf;
}

#scroll-button {
    position: fixed;
    bottom: 1.8em;
    right: 1em;
}

#scroll-button:hover svg {
    fill: #000;
}

.sidemenu__is__active {
    border-right: 1px solid gray;
}
