@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("MaterialIcons-Regular.eef49060e31e.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("MaterialIcons-Regular.b1bedb8e748d.woff2") format("woff2"), url("MaterialIcons-Regular.2cfd66c1c537.woff") format("woff"), url("MaterialIcons-Regular.df5691e5a9df.ttf") format("truetype");
}

.material-icons, .material-icons-outlined, .material-icons-round, .material-icons-sharp, .material-icons-two-tone {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: url("MaterialIconsOutlined-Regular.e229baadffac.eot");
  /* For IE6-8 */
  src: local("Material Icons Outlined"), local("MaterialIconsOutlined-Regular"), url("MaterialIconsOutlined-Regular.96b984bbc761.woff2") format("woff2"), url("MaterialIconsOutlined-Regular.50f2c434a5a3.woff") format("woff"), url("MaterialIconsOutlined-Regular.141765dacfb5.otf") format("opentype");
}

.material-icons-outlined {
  font-family: "Material Icons Outlined";
}

@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  src: url("MaterialIconsRound-Regular.3aba53489aef.eot");
  /* For IE6-8 */
  src: local("Material Icons Round"), local("MaterialIconsRound-Regular"), url("MaterialIconsRound-Regular.8d0bfabe71c0.woff2") format("woff2"), url("MaterialIconsRound-Regular.1211459add46.woff") format("woff"), url("MaterialIconsRound-Regular.2f682647af6c.otf") format("opentype");
}

.material-icons-round {
  font-family: "Material Icons Round";
}

@font-face {
  font-family: "Material Icons Sharp";
  font-style: normal;
  font-weight: 400;
  src: url("MaterialIconsSharp-Regular.09078f20280c.eot");
  /* For IE6-8 */
  src: local("Material Icons Sharp"), local("MaterialIconsSharp-Regular"), url("MaterialIconsSharp-Regular.8afc3bf6dc98.woff2") format("woff2"), url("MaterialIconsSharp-Regular.51fb70accea1.woff") format("woff"), url("MaterialIconsSharp-Regular.e53ad4a8ba89.otf") format("opentype");
}

.material-icons-sharp {
  font-family: "Material Icons Sharp";
}

@font-face {
  font-family: "Material Icons Two Tone";
  font-style: normal;
  font-weight: 400;
  src: url("MaterialIconsTwoTone-Regular.c7ec53ed550c.eot");
  /* For IE6-8 */
  src: local("Material Icons Two Tone"), local("MaterialIconsTwoTone-Regular"), url("MaterialIconsTwoTone-Regular.724415b6a8ac.woff2") format("woff2"), url("MaterialIconsTwoTone-Regular.2a922caa73c9.woff") format("woff"), url("MaterialIconsTwoTone-Regular.2098bff955e6.otf") format("opentype");
}

.material-icons-two-tone {
  font-family: "Material Icons Two Tone";
}
