/* nunito-200normal - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Nunito Extra Light '),
    local('Nunito-Extra Light'),
    url("./files/nunito-latin-200.2dbeb8d854e7.woff2") format('woff2'), /* Super Modern Browsers */
    url("./files/nunito-latin-200.e53a21a8bf1b.woff") format('woff'); /* Modern Browsers */
}

/* nunito-200italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Nunito Extra Light italic'),
    local('Nunito-Extra Lightitalic'),
    url("./files/nunito-latin-200italic.bbdf1c37c56e.woff2") format('woff2'), /* Super Modern Browsers */
    url("./files/nunito-latin-200italic.2bcb70df023a.woff") format('woff'); /* Modern Browsers */
}

/* nunito-300normal - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Nunito Light '),
    local('Nunito-Light'),
    url("./files/nunito-latin-300.98aabf9aea1a.woff2") format('woff2'), /* Super Modern Browsers */
    url("./files/nunito-latin-300.97e0d2fc0422.woff") format('woff'); /* Modern Browsers */
}

/* nunito-300italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Nunito Light italic'),
    local('Nunito-Lightitalic'),
    url("./files/nunito-latin-300italic.ac71e7f9cd40.woff2") format('woff2'), /* Super Modern Browsers */
    url("./files/nunito-latin-300italic.8646bd832f73.woff") format('woff'); /* Modern Browsers */
}

/* nunito-400normal - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Nunito Regular '),
    local('Nunito-Regular'),
    url("./files/nunito-latin-400.508e414e3d3b.woff2") format('woff2'), /* Super Modern Browsers */
    url("./files/nunito-latin-400.e5875b853d13.woff") format('woff'); /* Modern Browsers */
}

/* nunito-400italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Nunito Regular italic'),
    local('Nunito-Regularitalic'),
    url("./files/nunito-latin-400italic.28f555d9a5c8.woff2") format('woff2'), /* Super Modern Browsers */
    url("./files/nunito-latin-400italic.09ce3100c075.woff") format('woff'); /* Modern Browsers */
}

/* nunito-600normal - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Nunito SemiBold '),
    local('Nunito-SemiBold'),
    url("./files/nunito-latin-600.8b8871e482a7.woff2") format('woff2'), /* Super Modern Browsers */
    url("./files/nunito-latin-600.f894e279899f.woff") format('woff'); /* Modern Browsers */
}

/* nunito-600italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Nunito SemiBold italic'),
    local('Nunito-SemiBolditalic'),
    url("./files/nunito-latin-600italic.9f930640316b.woff2") format('woff2'), /* Super Modern Browsers */
    url("./files/nunito-latin-600italic.9d150271cf30.woff") format('woff'); /* Modern Browsers */
}

/* nunito-700normal - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Nunito Bold '),
    local('Nunito-Bold'),
    url("./files/nunito-latin-700.a22acb48f45d.woff2") format('woff2'), /* Super Modern Browsers */
    url("./files/nunito-latin-700.7d90308f9bdf.woff") format('woff'); /* Modern Browsers */
}

/* nunito-700italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Nunito Bold italic'),
    local('Nunito-Bolditalic'),
    url("./files/nunito-latin-700italic.4507a1361620.woff2") format('woff2'), /* Super Modern Browsers */
    url("./files/nunito-latin-700italic.26556875512f.woff") format('woff'); /* Modern Browsers */
}

/* nunito-800normal - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Nunito ExtraBold '),
    local('Nunito-ExtraBold'),
    url("./files/nunito-latin-800.eaa946756e91.woff2") format('woff2'), /* Super Modern Browsers */
    url("./files/nunito-latin-800.5fa815a069b4.woff") format('woff'); /* Modern Browsers */
}

/* nunito-800italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Nunito ExtraBold italic'),
    local('Nunito-ExtraBolditalic'),
    url("./files/nunito-latin-800italic.b9cd56a25c86.woff2") format('woff2'), /* Super Modern Browsers */
    url("./files/nunito-latin-800italic.2e1a4979ec23.woff") format('woff'); /* Modern Browsers */
}

/* nunito-900normal - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Nunito Black '),
    local('Nunito-Black'),
    url("./files/nunito-latin-900.f82c6fb49774.woff2") format('woff2'), /* Super Modern Browsers */
    url("./files/nunito-latin-900.19de37363ceb.woff") format('woff'); /* Modern Browsers */
}

/* nunito-900italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Nunito Black italic'),
    local('Nunito-Blackitalic'),
    url("./files/nunito-latin-900italic.6f10930c04ee.woff2") format('woff2'), /* Super Modern Browsers */
    url("./files/nunito-latin-900italic.ca56cb53793f.woff") format('woff'); /* Modern Browsers */
}

