<footer id="colophon" class="site-footer" itemscope itemtype="http://schema.org/WPFooter">
    <div class="bottom-footer">
        <div class="wrapper">
            <div class="copyright">
            <span><b>Help The Helpless</b><br>
A non-profit organisation<br>
</span> Blossom Coach | Developed By <a href="https://blossomthemes.com/"
                                        rel="nofollow" target="_blank">Blossom
                Themes</a>. Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a>.
            </div>
        </div><!-- .wrapper -->
    </div><!-- .bottom-footer -->
    <button aria-label="go to top" class="back-to-top">
        <span>&#10140;</span>
    </button>
</footer><!-- #colophon -->
