<!DOCTYPE html>
{% comment %} {% spaceless %} {% endcomment %}
<html lang="en-US">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="profile" href="http://gmpg.org/xfn/11"/>
    <title>{{ site_header }} &ndash; {{ backend.site_title }}</title>
    <link rel="shortcut icon" href="{{ backend.favicon }}"/>
    <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    ></script>
    <link rel="canonical" href="/home/"/>
</head>

<style>
    #body-id {
        opacity: 0;
    }
</style>

<body
        class="body page-template-default page page-id-22 style1 full-width elementor-default elementor-kit-17"
        id="body-id"
        itemscope
        itemtype="http://schema.org/WebPage"
>
<div id="page" class="site">
    <a aria-label="skip to content" class="skip-link" href="#content"
    >Skip to Content</a
    >
    <header
            id="masthead"
            class="site-header"
            itemscope
            itemtype="http://schema.org/WPHeader"
    >
        <div class="header-t">
            <div class="wrapper">
                <div class="top-right container">
                    <a
                            href="{{ backend.facebook_url }}"
                            target="_blank"
                            rel="nofollow"
                    >
                        <ion-icon
                                name="logo-facebook"
                                style="
                    color: #3b5998;
                    font-size: 125%;
                    position: relative;
                    top: 12px;
                    padding: 5px;
                  "
                        ></ion-icon>
                    </a>
                    <a
                            href="{{ backend.youtube_url }}"
                            target="_blank"
                            rel="nofollow"
                    >
                        <ion-icon
                                name="logo-youtube"
                                style="
                    color: #ff0000;
                    font-size: 125%;
                    position: relative;
                    top: 12px;
                    padding: 5px;
                  "
                        ></ion-icon>
                    </a>
                    <a href="{{ backend.email_url }}" target="_blank" rel="nofollow">
                        <ion-icon
                                name="mail"
                                style="
                    color: #0489c9;
                    font-size: 125%;
                    position: relative;
                    top: 12px;
                    padding: 5px;
                  "
                        ></ion-icon>
                    </a>
                    <!-- .header-social -->
                    <div class="header-search container" style="float: top">
                        <button
                                aria-label="search form toggle"
                                data-toggle-target=".search-modal"
                                data-toggle-body-class="showing-search-modal"
                                data-set-focus=".search-modal .search-field"
                                aria-expanded="false"
                        >
                            <i class="fa fa-search"></i>
                        </button>
                        <div
                                class="header-search-form search-modal cover-modal"
                                data-modal-target-string=".search-modal"
                        >
                            <div class="header-search-inner-wrap">
                                <form
                                        role="search"
                                        method="get"
                                        class="search-form"
                                        action="/"
                                >
                                    <label class="screen-reader-text"
                                    >Looking for Something?</label
                                    >
                                    <input
                                            type="search"
                                            class="search-field"
                                            placeholder="Enter Keywords&hellip;"
                                            value=""
                                            name="s"
                                    />
                                    <label for="submit-field">
                                        <span><i class="fa fa-search"></i></span>
                                        <input
                                                type="submit"
                                                id="submit-field"
                                                class="search-submit"
                                                value="Search"
                                        />
                                    </label>
                                </form>
                                <button
                                        aria-label="search form close"
                                        class="close"
                                        data-toggle-target=".search-modal"
                                        data-toggle-body-class="showing-search-modal"
                                        data-set-focus=".search-modal .search-field"
                                        aria-expanded="false"
                                ></button>
                            </div>
                        </div>
                    </div>
                    <!-- .header-seearch -->
                </div>
                <!-- .top-right -->
            </div>
            <!-- .wrapper -->
        </div>
        <!-- .header-t -->

        {% block main_header %} {% endblock %}
    </header>
    <!-- .site-header -->
    {% block breadcrumb %} {% endblock %} {% block sitecontent %} {% endblock %}
    <footer
            id="colophon"
            class="site-footer"
            itemscope
            itemtype="http://schema.org/WPFooter"
    >
        <div class="bottom-footer">
            <div class="wrapper">
                <div class="copyright">
              <span
              ><b>{{ backend.site_title }}</b><br/>
                A non-profit organisation<br/>
              </span>
                    Blossom Coach | Developed By
                    <a
                            href="https://blossomthemes.com/"
                            rel="nofollow"
                            target="_blank"
                    >Blossom Themes</a
                    >. Powered by
                    <a href="https://www.djangoproject.com/" target="_blank">Django</a
                    >.
                </div>
            </div>
            <!-- .wrapper -->
        </div>
        <!-- .bottom-footer -->
        <button aria-label="go to top" class="back-to-top">
            <span>&#10140;</span>
        </button>
    </footer>

    <!-- #colophon -->
</div>
<!-- #page -->
<script>
    let head = document.getElementsByTagName('HEAD')[0];

    let linkNo = 0;
    let link = [];
    let linkLimit = 9;

    for (linkNo; linkNo < linkLimit; linkNo++) {
        link[linkNo] = document.createElement('link');
    }

    let scriptNo = 1;
    let script = [];
    let scriptLimit = 13;

    for (scriptNo; scriptNo < scriptLimit; scriptNo++) {
        script[scriptNo] = document.createElement("script");
    }
    console.log(script)
    console.log(link)
    script[1].type = 'text/javascript';
    script[1].src =
        'https://cdn.jsdelivr.net/gh/{{ backend.github_username }}/{{ backend.github_repo }}@{{ backend.github_tag }}/wp-content/themes/blossom-coach/js/all.min.js';

    script[2].type = 'text/javascript';
    script[2].src =
        'https://cdn.jsdelivr.net/gh/{{ backend.github_username }}/{{ backend.github_repo }}@{{ backend.github_tag }}/wp-content/themes/blossom-coach/js/custom.min.js ';

    script[3].type = 'text/javascript';
    script[3].src =
        'https://cdn.jsdelivr.net/gh/{{ backend.github_username }}/{{ backend.github_repo }}@{{ backend.github_tag }}/wp-includes/js/imagesloaded.min.js ';

    script[4].type = 'text/javascript';
    script[4].src =
        'https://cdn.jsdelivr.net/gh/{{ backend.github_username }}/{{ backend.github_repo }}@{{ backend.github_tag }}/wp-content/themes/blossom-coach/js/modal-accessibility.min.js ';

    script[5].type = 'type/javascript';
    script[5].src =
        'https://cdn.jsdelivr.net/gh/{{ backend.github_username }}/{{ backend.github_repo }}@{{ backend.github_tag }}/wp-content/themes/blossom-coach/js/v4-shims.min.js ';

    script[6].type = 'text/javascript';
    script[6].src =
        'https://cdn.jsdelivr.net/gh/{{ backend.github_username }}/{{ backend.github_repo }}@{{ backend.github_tag }}/wp-includes/js/wp-embed.min.js ';

    script[7].type = 'text/javascript';
    script[7].src =
        'https://cdn.jsdelivr.net/gh/{{ backend.github_username }}/{{ backend.github_repo }}@{{ backend.github_tag }}/wp-includes/js/masonry.min.js ';

    script[8].type = 'text/javascript';
    script[8].src =
        'https://cdn.jsdelivr.net/gh/{{ backend.github_username }}/{{ backend.github_repo }}@{{ backend.github_tag }}/wp-content/themes/blossom-coach/js/owlcarousel2-a11ylayer.min.js ';

    script[9].type = "text/javascript";
    script[9].src = 'https://cdn.jsdelivr.net/npm/owl.carousel@2.2.0/dist/owl.carousel.min.js'
    script[9].crossorigin = "anonymous"

    script[10].type = 'text/javascript';
    script[10].src = 'https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js'
    script[10].nomodule = ""

    script[11].type = 'text/javascript'
    script[11].src = "https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"

    script[12].type = 'text/javascript'
    script[12].src = "https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"

    link[1].rel = "stylesheet"
    link[1].type = 'text/css'
    link[1].href = "https://cdn.jsdelivr.net/npm/owl.carousel@2.2.0/dist/assets/owl.carousel.min.css"

    link[3].rel = 'stylesheet';
    link[3].type = 'text/css';
    link[3].href =
        'https://cdn.jsdelivr.net/gh/{{ backend.github_username }}/{{ backend.github_repo }}@{{ backend.github_tag }}/wp-content/themes/blossom-coach/css/animate.min.css';

    link[4].rel = 'stylesheet';
    link[4].type = 'text/css';
    link[4].href =
        'https://cdn.jsdelivr.net/gh/{{ backend.github_username }}/{{ backend.github_repo }}@{{ backend.github_tag }}/wp-includes/css/dist/block-library/style.min.css';

    link[5].rel = 'stylesheet';
    link[5].type = 'text/css';
    link[5].href =
        'https://cdn.jsdelivr.net/gh/{{ backend.github_username }}/{{ backend.github_repo }}@{{ backend.github_tag }}/wp-content/uploads/elementor/css/global.css';

    link[6].rel = 'stylesheet';
    link[6].type = 'text/css';
    link[6].href =
        'https://cdn.jsdelivr.net/npm/typeface-nunito-sans@1.1.13/index.min.css';

    link[7].rel = 'stylesheet';
    link[7].type = 'text/css';
    link[7].href =
        'https://cdn.jsdelivr.net/npm/typeface-nunito@1.1.13/index.min.css';

    link[8].rel = 'stylesheet';
    link[8].type = 'text/css';
    link[8].href =
        'https://cdn.jsdelivr.net/gh/{{ backend.github_username }}/{{ backend.github_repo }}@{{ backend.github_tag }}/wp-content/themes/blossom-coach/style.css';
    for (let i = 1; i < scriptLimit; i++) {
        head.appendChild(script[i]);
    }

    for (let k = 0; k < linkLimit; k++) {
        head.appendChild(link[k]);
    }


</script>

<script>
    window.setInterval(function () {
        $("#site-reload-content").load(" #site-reload-content");
    }, {{ backend.reload }})
    window.onload = (function () {
        anime({
            targets: '#body-id',
            opacity: 1,
            duration: 1000,
            easing: "linear",
        })
    })
</script>

<script type="text/javascript" id="blossom-coach-js-extra">
    /* <![CDATA[ */
    let blossom_coach_data = {rtl: '', animation: ''};
    /* ]]> */
</script>

</body>
</html>
{% comment %} {% endspaceless %} {% endcomment %}
