<header id="masthead" class="site-header" itemscope itemtype="http://schema.org/WPHeader">
    <div class="header-t">
        <div class="wrapper">
            <div class="top-right container">
                <a href="{{ urls.facebook_url }}" target="_blank"
                   rel="nofollow">
                    <ion-icon name="logo-facebook"
                              style="color: #3b5998; font-size: 125%; position:relative; top:12px; padding:5px"></ion-icon>
                </a></td>
                <a href="{{ urls.youtube_url }}" target="_blank" rel="nofollow">
                    <ion-icon name="logo-youtube"
                              style="color: #FF0000; font-size: 125%; position:relative; top:12px;  padding:5px"></ion-icon>
                </a>
                <a href="{{ urls.email_url }}" target="_blank" rel="nofollow">
                    <ion-icon name="mail"
                              style="color: #0489C9; font-size: 125%; position:relative; top:12px;  padding:5px"></ion-icon>
                </a>
                <!-- .header-social -->
                <div class="header-search container" style="float:top">
                    <button aria-label="search form toggle" data-toggle-target=".search-modal"
                            data-toggle-body-class="showing-search-modal"
                            data-set-focus=".search-modal .search-field" aria-expanded="false"><i
                            class="fa fa-search"></i></button>
                    <div class="header-search-form search-modal cover-modal"
                         data-modal-target-string=".search-modal">
                        <div class="header-search-inner-wrap">
                            <form role="search" method="get" class="search-form" action="/">
                                <label class="screen-reader-text">Looking for Something?</label>
                                <input type="search" class="search-field" placeholder="Enter Keywords&hellip;"
                                       value="" name="s"/>
                                <label for="submit-field">
                                    <span><i class="fa fa-search"></i></span>
                                    <input type="submit" id="submit-field" class="search-submit" value="Search"/>
                                </label>
                            </form>
                            <button aria-label="search form close" class="close" data-toggle-target=".search-modal"
                                    data-toggle-body-class="showing-search-modal"
                                    data-set-focus=".search-modal .search-field" aria-expanded="false"></button>
                        </div>
                    </div>
                </div><!-- .header-seearch -->
            </div><!-- .top-right -->
        </div><!-- .wrapper -->
    </div><!-- .header-t -->

    <div class="main-header">
        <div class="wrapper">
            <div class="site-branding" itemscope itemtype="http://schema.org/Organization">
                <p class="site-title" itemprop="name"><a href="/" rel="home" itemprop="url">Help The Helpless</a>
                </p>
                <p class="site-description">In belief of recreating the world</p>
            </div><!-- .site-branding -->
            <div class="menu-wrap">
                <nav id="site-navigation" class="main-navigation" itemscope
                     itemtype="http://schema.org/SiteNavigationElement">
                    <button type="button" class="toggle-button" data-toggle-target=".main-menu-modal"
                            data-toggle-body-class="showing-main-menu-modal" aria-expanded="false"
                            data-set-focus=".close-main-nav-toggle">
                        <span class="toggle-bar"></span>
                        <span class="toggle-bar"></span>
                        <span class="toggle-bar"></span>
                    </button>
                    <div class="primary-menu-list main-menu-modal cover-modal"
                         data-modal-target-string=".main-menu-modal">
                        <button class="close close-main-nav-toggle" data-toggle-target=".main-menu-modal"
                                data-toggle-body-class="showing-main-menu-modal" aria-expanded="false"
                                data-set-focus=".main-menu-modal"><span></span></button>
                        <div class="mobile-menu" aria-label="Mobile">
                            <div class="menu-primary-container">
                                <ul id="primary-menu" class="menu main-menu-modal">
                                    <li id="menu-item-31"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-31">
                                        <a href="/home/">Home</a></li>
                                    <li id="menu-item-32"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
                                        <a href="/blog/">Blog</a></li>
                                    <li id="menu-item-34"
                                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-25 current_page_item menu-item-34">
                                        <a href="{% url "donate" %}" aria-current="page">Donate</a></li>
                                    {% if user.is_authenticated %}
                                        <li id="menu-item-139"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139">
                                            <a href="{% url "log-out" %}">Log out</a></li>
                                    {% else %}
                                        <li id="menu-item-139"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139">
                                            <a href="{% url 'log-in' %}">Log in</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav><!-- #site-navigation -->
            </div><!-- .menu-wrap -->
        </div><!-- .wrapper -->
    </div><!-- .main-header -->
</header><!-- .site-header -->
