<!DOCTYPE html>
<html lang="en">
{% spaceless %}

    <head>
        <title>{{ site_header }} &ndash; {{ backend.site_title }}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- Bootstrap CSS -->
        <script
                src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                crossorigin="anonymous"
        ></script>
        <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                crossorigin="anonymous"
        />
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
                crossorigin="anonymous"
        ></script>
        <script
                type="module"
                src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
                nomodule=""
                src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"
        ></script>`
        <script
                src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"
                integrity="sha256-XL2inqUJaslATFnHdJOi9GfQ60on8Wx1C2H8DYiN1xY="
                crossorigin="anonymous"
        ></script>

        <link rel="shortcut icon" href="{{ backend.favicon }}"/>
        <style>
            #body {
                opacity: 0;
            }
        </style>
    </head>
    <div id="body">
    <script>

        window.onload = function () {
            anime({
                targets: '#body',
                opacity: 1,
                duration: 1000,
                easing: 'linear',
            });
        };
    </script>
    {% block body %} {% endblock %}


    </div>
{% endspaceless %}
</html>
