{% extends 'components/front_master.html' %}
{% block main_header %}
<div class="main-header">
    <div class="wrapper">
        <div class="site-branding" itemscope itemtype="http://schema.org/Organization">
            <p class="site-title" itemprop="name"><a href="/" rel="home"
                                                     itemprop="url">{{ backend.site_title }}</a>
            </p>
            <p class="site-description">{{ backend.site_description }}</p>
        </div><!-- .site-branding -->
        <div class="menu-wrap">
            <nav id="site-navigation" class="main-navigation" itemscope
                 itemtype="http://schema.org/SiteNavigationElement">
                <button type="button" class="toggle-button" data-toggle-target=".main-menu-modal"
                        data-toggle-body-class="showing-main-menu-modal" aria-expanded="false"
                        data-set-focus=".close-main-nav-toggle">
                    <span class="toggle-bar"></span>
                    <span class="toggle-bar"></span>
                    <span class="toggle-bar"></span>
                </button>
                <div class="primary-menu-list main-menu-modal cover-modal"
                     data-modal-target-string=".main-menu-modal">
                    <button class="close close-main-nav-toggle" data-toggle-target=".main-menu-modal"
                            data-toggle-body-class="showing-main-menu-modal" aria-expanded="false"
                            data-set-focus=".main-menu-modal"><span></span></button>
                    <div class="mobile-menu" aria-label="Mobile">
                        <div class="menu-primary-container">
                            <ul id="primary-menu" class="menu main-menu-modal">
                                <li id="menu-item-31"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-22 menu-item-31">
                                    <a href="/home/">Home</a></li>
                                <li id="menu-item-32"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
                                    <a href="/blog/">Blog</a></li>
                                <li id="menu-item-34"
                                    class="current-menu-item menu-item current_page_item menu-item-type-post_type menu-item-object-page menu-item-32">
                                    <a href="/donate/" aria-current="page">Donate</a></li>
                                {% if user.is_authenticated %}
                                    <li id="menu-item-139"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139">
                                        <a href="{% url "log-out" %}">Log out</a></li>
                                {% else %}
                                    <li id="menu-item-139"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139">
                                        <a href="{% url 'log-in' %}">Log in</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav><!-- #site-navigation -->
        </div><!-- .menu-wrap -->
    </div><!-- .wrapper -->
</div><!-- .main-header -->
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb-wrapper">
    <div class="wrapper">
        <div id="crumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="{% url 'home' %}"><span itemprop="name">Home</span></a>
                        <meta itemprop="position" content="1"/>
                        <span class="separator"><i class="fa fa-angle-right"></i></span>
                    </span><span class="current" itemprop="itemListElement" itemscope
                                 itemtype="http://schema.org/ListItem"><a itemprop="item"
                                                                          href="{% url 'donate' %}"><span
                itemprop="name">{{ site_header }}</span></a><meta itemprop="position" content="2"/></span></div>
    </div>
</div><!-- .breadcrumb-wrapper -->
{% endblock %}

{% block sitecontent %}
<div id="content" class="site-content">
    <div class="wrapper">

        <div id="primary" class="content-area">
            <main id="main" class="site-main">


                <article id="post-22" class="post-22 page type-page status-publish hentry">
                    <header class="page-header">
                        <h1 class="entry-title">{{ site_header }}</h1></header>
                    <figure class="post-thumbnail">
                    </figure><!-- .post-thumbnail -->
                    <div class="entry-content" itemprop="text">

                    </div><!-- .entry-content -->
                    <footer class="entry-footer">
                    </footer><!-- .entry-footer -->
                </article><!-- #post-22 -->

            </main><!-- #main -->
        </div><!-- #primary -->


    </div><!-- .wrapper -->
</div><!-- .site-content -->
{% endblock %}
